#root {
  margin: 0%;
  padding: 0%;
}

.spinner {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5pt solid rgba(128, 128, 128, 0.322);
  border-top: 5pt solid #96be0e;
  border-right: 5pt solid #96be0e;
  border-bottom: 5pt solid #96be0e;
  animation: spinner-spin infinite 1s linear;
  margin: auto;
}

@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
