.form-wrapper {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(238, 232, 198, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0 auto;
  padding: 5vh;
  transform: translateY(15vh);
  color: white;
}

.auth-title {
  margin-top: 25%;
  margin-bottom: 15%;
}

.form-wrapper input {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.75rem;
}

.auth-main {
  background-color: #96be0e;
  min-height: 100vh;
}

.submit-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  color: white;
  background: #96be0e;
  transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
  color: #96be0e;
  background-color: white;
  font-size: 1.025rem;
}

.switch-auth {
  all: unset;
  cursor: pointer;
  color: #394803;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.switch-auth:hover {
  color: white;
  text-decoration: underline;
}

@media screen and (min-width: 530px) {
  .form-wrapper {
    width: 40%;
    padding: 5vh 1vh;
  }

  .submit-btn {
    width: 75%;
  }
}

@media screen and (min-width: 900px) {
  .form-wrapper {
    width: 25%;
    padding: 5vh 1vh;
  }

  .auth-title {
    margin: 15% auto;
  }
}
