.menu-icon {
  position: fixed;
  top: 2%;
  left: 1%;
  height: 30px;
  width: auto;
  color: rgb(159, 159, 159);
  z-index: 99;
  transition: all 0.5s;
}

.menu-icon:hover {
  color: white;
}

@media screen and (min-width: 475px) {
  nav {
    width: 25vw;
  }
}

@media screen and (min-width: 768px) {
  nav {
    width: 20vw;
    transform: none;
  }

  .menu-icon {
    display: none;
  }
}
