.page-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #96be0e;
  background-image: url(/green-man-bg.png);
  background-repeat: no-repeat;
  background-size: 128vh;
  background-position: -39vh 4vh;
  height: 100vh;
}

h2 {
  font-size: 4vh;
  color: white;
  padding: 2vh;
  margin: 0%;
}

p {
  color: white;
  font-size: 1.8vh;
  padding: 0% 1.5vh;
  margin: 1vh 0 4vh 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.form > * {
  border: rgb(228, 228, 228) 1px solid;
  background-color: #96be0e;
  color: white;
  border-radius: 50px;
  padding: 2vh;
  font-size: 1.9vh;
}

.city::placeholder {
  color: white;
}

.submit-btn {
  background-color: white;
  color: #96be0e;
}
