.container {
    display: flex;
    justify-content: center;
    padding-top: 12rem;
    height: 100vh;
    flex-wrap: wrap;
}

.item {
    width: 33.33%;
    flex: 0 0 auto;
}

.studio-image {
    width: 65%;
    border-radius: 2rem;
}

.studio-price {
    display: flex;
    justify-content: space-between;
    background-color: azure;
    width: 50%;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.text {
    font-weight: bold;
    margin: 0.5rem;
}

.rating {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.stars {
    
}