.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  padding-top: 8rem;
}

.item {
  width: 33.33%;
  flex: 0 0 auto;
}

.studio-image {
  width: 65%;
  border-radius: 2rem;
}

.studio-price {
  display: flex;
  justify-content: space-between;
  background-color: rgb(93, 205, 62);
  width: 50%;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.text {
  font-weight: bold;
  margin: 0.5rem;
}

.rating {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.stars {
  padding-top: 0.7rem;
}

.reserve-btn {
  padding: 0.9rem;
  width: 30%;
  background-color: rgb(93, 205, 62);
  border-radius: 2rem;
  border: none;
  margin-top: 2rem;
}

.color-text {
  color: black;
}

@media only screen and (max-width: 468px) {
   .loader {
    display: none;
   }

   .studio-image {
    width: 100%;
   }

}

@media (max-width: 767px), (max-width: 1023px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    height: 100vh;
  }

  .studio-image {
    width: 95%;
    border-radius: 2rem;
  }

  .studio-price {
    display: flex;
    justify-content: space-between;
    background-color: rgb(93, 205, 62);
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }

  .text-tag {
    width: 1rem;
    height: 1rem;
  }

  .reserve-btn {
    padding: 0.9rem;
    width: 70%;
    margin-top: 2rem;
    background-color: rgb(93, 205, 62);
    border-radius: 2rem;
    border: none;
  }

  .rating {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .ratng-text {
    padding: 0;
  }
}

/* animation */

.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
  margin-top: 4rem;
  top: calc(90% - 1.25em);
  left: calc(45% - 1.25em);
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.loader::before {
  animation: before8 2s infinite;
}

.loader::after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow:
      1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }

  35% {
    width: 2.5em;
    box-shadow:
      0 -0.5em rgba(225, 20, 98, 0.75),
      0 0.5em rgba(111, 202, 220, 0.75);
  }

  70% {
    width: 0.5em;
    box-shadow:
      -1em -0.5em rgba(225, 20, 98, 0.75),
      1em 0.5em rgba(111, 202, 220, 0.75);
  }

  100% {
    box-shadow:
      1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow:
      0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }

  35% {
    height: 2.5em;
    box-shadow:
      0.5em 0 rgba(61, 184, 143, 0.75),
      -0.5em 0 rgba(233, 169, 32, 0.75);
  }

  70% {
    height: 0.5em;
    box-shadow:
      0.5em -1em rgba(61, 184, 143, 0.75),
      -0.5em 1em rgba(233, 169, 32, 0.75);
  }

  100% {
    box-shadow:
      0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}
